
@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro-Light.eot');
  src: url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Light.woff') format('woff'),
  url('../fonts/GothamPro-Light.ttf') format('truetype'),
  url('../fonts/GothamPro-Light.svg#Intro') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro-LightItalic.eot');
  src: url('../fonts/GothamPro-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-LightItalic.woff') format('woff'),
  url('../fonts/GothamPro-LightItalic.ttf') format('truetype'),
  url('../fonts/GothamPro-LightItalic.svg#Intro') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro-Italic.eot');
  src: url('../fonts/GothamPro-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Italic.woff') format('woff'),
  url('../fonts/GothamPro-Italic.ttf') format('truetype'),
  url('../fonts/GothamPro-Italic.svg#Intro') format('svg');
  font-weight: 400;  
  font-style: italic;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro.eot');
  src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro.woff') format('woff'),
  url('../fonts/GothamPro.ttf') format('truetype'),
  url('../fonts/GothamPro.svg#Intro') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro-Medium.eot');
  src: url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Medium.woff') format('woff'),
  url('../fonts/GothamPro-Medium.ttf') format('truetype'),
  url('../fonts/GothamPro-Medium.svg#Intro') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro-MediumItalic.eot');
  src: url('../fonts/GothamPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-MediumItalic.woff') format('woff'),
  url('../fonts/GothamPro-MediumItalic.ttf') format('truetype'),
  url('../fonts/GothamPro-MediumItalic.svg#Intro') format('svg');
  font-weight: 600;
  font-style: italic;
}


@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro-Bold.eot');
  src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Bold.woff') format('woff'),
  url('../fonts/GothamPro-Bold.ttf') format('truetype'),
  url('../fonts/GothamPro-Bold.svg#Intro') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro-BoldItalic.eot');
  src: url('../fonts/GothamPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-BoldItalic.woff') format('woff'),
  url('../fonts/GothamPro-BoldItalic.ttf') format('truetype'),
  url('../fonts/GothamPro-BoldItalic.svg#Intro') format('svg');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro-Black.eot');
  src: url('../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Black.woff') format('woff'),
  url('../fonts/GothamPro-Black.ttf') format('truetype'),
  url('../fonts/GothamPro-Black.svg#Intro') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro-BlackItalick.eot');
  src: url('../fonts/GothamPro-BlackItalick.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-BlackItalick.woff') format('woff'),
  url('../fonts/GothamPro-BlackItalick.ttf') format('truetype'),
  url('../fonts/GothamPro-BlackItalick.svg#Intro') format('svg');
  font-weight: 800;
  font-style: italic;
}



