$icon-font-path: '../fonts/';

@media only screen and (max-width: 375px) {

 .name {
  font-size: 20px;
 }

 .value {
  font-size: 12px;
 }

 //login-form-page

 .login-form-page { 

  form {

    input {
      width: 200px;
    }

  }

 }
  
}