$icon-font-path: '../fonts/';

@media only screen and (max-width: 767px) {

  .login-page {

  	.main {
      padding: 0;
    }

		.column-left  {			
			justify-content: center;
			flex-direction: column;
		}

		.column {
			border-right: none;
			position: relative;
			height: auto;
			display: flex;
			padding-top: 2.9rem;
			padding-bottom: 2.9rem;		
		

			&:first-child {
				border-right: none;
				border-bottom: 1px solid #333c42;
			}

		}

		.column-right {
			flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      flex-wrap:wrap;
    } 

		.form-link {
			text-decoration: underline;
			position: static;
			margin-top: 30px;
			transform: translateX(0);
		}

  } 

  .name-block {	
		margin: 2rem 0 2rem 0;	
	}

	.form-wrap {
  

  &:last-child {
    float: right;
    padding-top: 20px;
  }
  
} 

//  NOT-FOUND

	.not-found {

	  .column-right {
	    align-items: center;
	    justify-content: center;
	  }

	}

//LOGIN-FORM-PAGE

.login-form-page { 

  .column {
    height: auto; 
    padding-top: 4.9rem;
    padding-bottom: 4.9rem;

    &:first-child {
      border-right: none;
      border-bottom: none;
    }
    
  }  

}	
   
  
}