$icon-font-path: '../fonts/';

@media only screen and (min-width: 992px) {

  .login-page {

    .main {
      padding: 4.9rem 0;
    }

    .column-left  {      
      justify-content: center;
    }

    .column {
      border-right: none;   
      position: relative;
      height: 460px;
      display: flex; 
      padding-top: 0;
      padding-bottom: 0;
      padding-top: 1.9rem;
      padding-bottom: 1.9rem;      

      &:first-child {
        border-right: 1px solid #333c42;
        border-bottom: none;
      }

    }

    .column-right {
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap:wrap;
    }

    .form-link {      
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    
    }

  }

  .name-block {   
    margin: 0 auto 2rem 0; 
  }

  

  .pageblock {

  .form-link {
    position: static;
    margin: 0 auto;
    transform: translateX(0);
  }

}

.form-wrap { 

  &:last-child {    
    padding-top: 20px;
  }

} 

//  NOT-FOUND

.not-found {

  .column-right {
    align-items: center;
    justify-content: center;
  }

}

// not-found

  .not-found {
  height: auto;

  .footer { 
    position: static;    
  }
  
}


//LOGIN-FORM-PAGE

.login-form-page { 

  .column {
    height: auto; 

    &:first-child {
      border-right: none;
    }
    
  }  

}

//history

.history { 
    color: #fff;
    font-size: 12px;  

    .table-wrap {
      padding: 0;
    }
    
  }

  
}
