$icon-font-path: '../fonts/';

@media only screen and (min-width: 768px) {

  .login-page {

  	.main {
      padding: 0;
    }

		.column-left  {			
			justify-content: center;
			flex-direction: column;
		}

		.column {
			border-right: none;
			position: relative;
			height: auto;
			display: flex;
			padding-top: 2.9rem;
			padding-bottom: 2.9rem;	
		

			&:first-child {
				border-right: none;
				border-bottom: 1px solid #333c42;
			}

		}

		.column-right {
      align-items: flex-start;
      justify-content: center;
      flex-wrap:wrap;
    } 

    .form-link {    
      text-decoration: underline;
			position: static;
			margin-top: 30px;
			transform: translateX(0);
		}

  } 

  .name-block {	
		margin: 2rem auto 2rem 0;	
	}

	//LOGIN-FORM-PAGE

.login-form-page { 

  .column {
  	padding-top: 4.9rem;
    padding-bottom: 4.9rem;

    &:first-child {
      border-right: none;
      border-bottom: none;
    }
    
  }  

}	
  
}
