$icon-font-path: '../fonts/';

@media only screen and (min-height: 1024px) {

 // not-found

	.not-found {
	height: 100vh;

	.footer {	
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	
	}
  
}